.bg-cartoon-foods {
    background: url(images/foods.jpg); 
    background-size: cover;
    background-position: center; 
    padding: 200px 10px; 
}

.bg-cartoon-foods span{
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
}
body {
    background-color: rgb(255, 213, 168);
}

@media(max-width: 700px){
    .bg-cartoon-foods {
        background: url(images/foods.jpg);
        padding: 150px 10px;
        background-position: center;
        
    }
    
    .app-container {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
}